@model IEnumerable<Facturacion.Models.Productos>

@{
    ViewBag.Title = "Comprar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/css/Contact.css" rel="stylesheet" />

</head>
<body>
    <div>
        <section class="form-contact">
            <header>
                <span>
                    <i class="fa fa-paper-plane" aria-hidden="true">Detalle de la Compra:</i>
                </span>
            </header>

            <form class="contact" action="/Home/FinalizarCompra" method="POST">
                @Html.ValidationSummary()

                @foreach (var item in Model)
                {
                    @*Este input es necesario para guardar el ProductoID*@
                    @*Pero no se muestra en la interfaz del usuario*@
                    <input style="display: none;" type="text" name="idProducto" id="idProducto" value="@item.ProductoID" readonly>

                    <input style="display: none;" type="text" name="idProducto" id="idProducto" value="@item.ProductoID" readonly>

                    <label for="nombreProducto">Producto *</label>
                    <input type="text" name="nombreProducto" id="nombreProducto" value="@item.Nombre_Del_Producto" readonly>

                    <label for="precio">Precio *</label>
                    <input type="text" name="precio" id="precio" value="@item.Precio_Estandar" readonly>

                    <label for="cantidad">Cantidad *</label>
                    <input type="number" name="cantidad" id="cantidad" value="1" min="1">

                    <label for="distribuidora">Distribuidora</label>
                    <input type="text" name="distribuidora" id="distribuidora" value="@item.Almacen.Nombre_De_La_Distribuidora" readonly>

                }

                <button class="btn btn-primary" type="submit">Comprar</button>


            </form>
        </section>
    </div>


</body>

<div class="boton">
    <div class="col-md-offset-2 col-md-12">
        @Html.ActionLink("Ir a inicio", "Index", null, new { @class = "btn btn-lg btn-primary" })

    </div>
    <style>
        .boton {
            width: 500px;
            border-radius: 80px;
            text-align: center;
            position: relative;
            left: 250px;
            top: 800px;
        }
    </style>

</div>
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        background: #ffffff;
        font-family: Arial, Helvetica, sans-serif;
    }

    .form-contact {
        background: white;
        width: 400px;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 7px 13px 37px rgba(0, 0, 0, .8);
    }

    header {
        width: 100%;
        background: #ff6a00;
        overflow: hidden;
        color: white;
    }

        header span {
            font-size: 20px;
            display: block;
            text-align: center;
            padding: 2.5rem;
        }

    .contact {
        padding: .8rem;
        overflow: hidden;
        color: gray;
    }

        .contact label, .contact input, .contact textarea {
            display: block;
            width: 100%;
            margin-bottom: 5px;
        }

        .contact label {
            font-weight: 700;
        }

        .contact input:not([type='submit']), .contact textarea {
            border: none;
            border-bottom: 2px solid #cc0404;
            margin-bottom: 10px;
            font-size: 20px;
            outline: none;
            color: gray;
        }

        .contact textarea {
            min-height: 100px;
        }

    input[type='submit'] {
        padding: 10px;
        background: #ff6a00;
        border: none;
        color: white;
        font-size: 20px;
        /* pointer-events: none; */
        cursor: pointer;
    }
</style>

